<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="toyproject.juniorforum.mapper.BoardMapper">
    <resultMap id="boardMap" type="BoardVO">
        <id column="board_id" property="boardId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="writer" property="writer"/>
        <result column="hit" property="hit"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getListWithPaging" resultMap="boardMap">
        SELECT *
        FROM tbl_board
        ORDER BY board_id DESC
        LIMIT #{startNum}, #{amount}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="boardId" parameterType="toyproject.juniorforum.domain.DTO$BoardDTO">
        INSERT INTO tbl_board(title, content, writer, update_time)
        VALUES (#{title}, #{content}, #{writer}, now())
    </insert>

    <update id="addHit" parameterType="int">
        UPDATE tbl_board
        SET hit = hit + 1
        WHERE board_id = #{boardId}
    </update>

    <select id="read" resultMap="boardMap">
        SELECT *
        FROM tbl_board
        WHERE board_id = #{boardId}
    </select>

    <update id="update" parameterType="toyproject.juniorforum.domain.DTO$BoardUpdateForm">
        UPDATE tbl_board
        SET title = #{title},
            content = #{content},
            update_time = now()
        WHERE board_id = #{boardId}
    </update>

    <select id="getTotalCount" resultType="int">
        SELECT count(*) AS totalCount
        FROM tbl_board
    </select>

    <delete id="delete" parameterType="int">
        DELETE
        FROM tbl_board
        WHERE board_id = #{boardId}
    </delete>
</mapper>