<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/layout/head :: common_head}">
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="~{/fragment/layout/sidebar :: common_side(write)}"></th:block>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- header -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <!-- Page Content -->
            <div class="container-fluid"  th:object="${post}">
                <!--/* input : 제목, 내용 */-->
                <label for="*{title}"></label>
                <input type="text" th:field="*{title}">
            </div>
        </div>

        <!-- Footer -->
        <div th:replace="~{/fragment/layout/footer :: common_footer}"> </div>
    </div>
</div>
<th:block th:replace="~{fragment/layout/config :: common_script}"></th:block>
</body>

</html>