<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/layout/head :: common_head}">
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="~{/fragment/layout/sidebar :: common_side('board')}"></th:block>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!--/* header */-->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <div class="container-fluid">
                <h2>
                    게시판
                </h2>
            </div>
            <div class="container-fluid col-md-8">
                <div>
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">수정일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr scope="row" th:each="board : ${boardList}" th:object="${board}">
                            <td th:text="*{boardId}">번호</td>
                            <td>
                                <a href="#" th:href="@{/board/{boardId}(boardId=*{boardId})}" th:text="*{title}">제목</a>
                            </td>
                            <td th:text="*{writer}">작성자</td>
                            <td th:text="${#temporals.format(board.createTime, 'yy-MM-dd HH:mm')}">작성일</td>
                            <td th:text="${#temporals.format(board.updateTime, 'yy-MM-dd HH:mm')}">수정일</td>
                            <td th:text="*{hit}">조회수</td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <ui class="pagination justify-content-center" th:object="${pageDTO}">
                            <li th:class="page-item" th:if="*{prev}">
                                <a th:class="page-link" th:href="@{/board/list(pageNum = *{startPage - 1})}">&lt;이전</a>
                            </li>
                            <li th:class="page-item" th:classappend="${pageDTO.criteria.pageNum == page} ? active"
                                th:each="page : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                                <a th:class="page-link" th:href="@{/board/list(pageNum = ${page})}" th:text="${page}"></a>
                            </li>
                            <li th:class="page-item" th:classappend="${!pageDTO.next} ? disabled">
                                <a th:class="page-link" th:if="*{next}" th:href="@{/board/list(pageNum = *{endPage + 1})}">다음&gt;</a>
                            </li>
                        </ui>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button class="w-100 btn btn-primary btn-lg"
                                onclick="location.href='items.html'"
                                th:onclick="|location.href='@{/board}'|"
                                type="button" th:text="#{button.write}">글쓰기
                        </button>
                    </div>
                </div>
                <!-- Search Bar -->
                <form class="d-none d-sm-inline-block form-inline mr-auto mr-md-3 my-2 my-md-0 mw-100 navbar-search float-md-right">
                    <div class="input-group">
                        <label for="search"></label>
                        <input type="text" id="search" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--/* Footer */-->
        <div th:replace="~{/fragment/layout/footer :: common_footer}"> </div>
    </div>
</div>
<th:block th:replace="~{fragment/layout/config :: common_script}"></th:block>
</body>

</html>