<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/layout/head :: common_head}">
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="~{/fragment/layout/sidebar :: common_side('board')}"></th:block>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!--/* header */-->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <div class="container-fluid">
                <h2>
                    게시판
                </h2>
            </div>
            <div class="container-fluid col-md-8">
                <div>
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">수정일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr scope="row" th:each="board : ${boardList}" th:object="${board}">
                            <td th:text="*{boardId}">번호</td>
                            <td>
                                <a id="goRead" href="#" th:href="*{boardId}" th:text="*{title}">제목</a>
                            </td>
                            <td th:text="*{writer}">작성자</td>
                            <td th:text="${#temporals.format(board.createTime, 'yy-MM-dd HH:mm')}">작성일</td>
                            <td th:text="${#temporals.format(board.updateTime, 'yy-MM-dd HH:mm')}">수정일</td>
                            <td th:text="*{hit}">조회수</td>

                            </form>
                        </tr>
                        </tbody>
                    </table>
                    <div th:object="${pageDTO}">
                        <ui class="pagination justify-content-center">
                            <li th:class="page-item" th:if="*{prev}">
                                <a th:class="page-link" th:classappend="changePage" th:href="*{startPage - 1}">&lt;이전</a>
                            </li>
                            <li th:class="page-item" th:classappend="${pageDTO.criteria.pageNum == page} ? active"
                                th:each="page : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                                <a th:class="page-link" th:classappend="changePage" th:href="${page}" th:text="${page}"></a>
                            </li>
                            <li th:class="page-item"  th:classappend="${!pageDTO.next} ? disabled">
                                <a th:class="page-link" th:classappend="changePage" th:if="*{next}" th:href="*{endPage + 1}">다음&gt;
                                </a>
                            </li>
                        </ui>
                        <form action="/board/list" th:object="${criteria}" name="pageForm">
                            <input type="hidden" name="pageNum" th:field="*{pageNum}">
                            <input type="hidden" name="amount" th:field="*{amount}">
                        </form>
                    </div>
                    <div class="d-inline row">
                        <div class="col-12">
                            <!-- Search Bar -->
                            <form class="seachBar d-none d-sm-inline-block form-inline mr-auto mr-md-3 my-2 my-md-0 mw-100 navbar-search float-md-right">
                                <div class="input-group">
                                    <label for="search"></label>
                                    <input type="text" id="search" class="form-control bg-light border-0 small" placeholder="Search for..."
                                           aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--/* Footer */-->
        <div th:replace="~{/fragment/layout/footer :: common_footer}"> </div>
    </div>
</div>
<script th:inline="javascript">
    let pageForm = $(document.pageForm);
    let paging = [[${pageDTO.criteria.listLink}]];

    $(document).ready(function () {
        // alert("게시글이 등록되었습니다.")
    });

    $("a.changePage").click(function(e){
        e.preventDefault();
        // pageForm에 input 태그 pageNum을 찾고, href 값을 넣어줌
        pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        pageForm.submit();
    });

    $("a#goRead").on("click", function (e) {
        e.preventDefault();
        location.href = "/board/read" + paging + "&boardId=" + $(this).attr("href");
    });
</script>
<th:block th:replace="~{fragment/layout/config :: common_script}"></th:block>
</body>

</html>