<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/layout/head :: common_head}">
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="~{/fragment/layout/sidebar :: common_side('board')}"></th:block>
    <div id="content-wrapper" class="d-flex flex-column col-md-8">
        <div id="content" th:object="${board}" >
            <!--/* header */-->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>

            <!-- Page Content -->
            <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
            <div>
                <label for="title" th:text="#{label.board.title}">title</label>
                <input type="text" id="title" class="form-control" th:field="*{title}" readonly>
            </div>
            <div>
                <label for="createTime" th:text="#{label.board.createTime}">작성일</label>
                <input type="text" id=createTime class="form-control"
                       th:value="${#temporals.format(board.createTime, 'yy-MM-dd')}" readonly>
            </div>

            <div>
                <label for="read" th:text="#{label.board.read}">조회수</label>
                <input type="text" id="read" class="form-control" th:field="*{hit}" readonly>
            </div>
            <div style="height: 50px"></div>
            <div class="d-flex">
                <div class="read-content-html"></div>
            </div>

            <div class="row" style="margin-top: 20px">
                <div class="col text-center">
                    <button class="w-25 btn btn-primary btn-lg" id="goUpdate" onclick="location.href='#'"
                            th:onclick="${board.boardId}"
                            type="button" th:text="#{button.edit}">수정
                    </button>
                    <button class="w-25 btn btn-primary btn-lg" id="goDelete" onclick="location.href='#'"
                            th:onclick="${board.boardId}"
                            type="button" th:text="#{button.delete}">삭제
                    </button>
                    <button class="w-25 btn btn-secondary btn-lg" id="goList" onclick="location.href='#'"
                            type="button" th:text="#{button.list}">목록으로
                    </button>
                </div>
            </div>&nbsp;
        </div>
        <!--/* reply */-->
        <div class="mb-5 card bg-light">
            <div class="card-body">
                <div class="mb-4">
                    <form style="height: 200px">
                        <div class="form-inline mb-2">
                            <input type="hidden" id="reply-board-id" value="${board.boardId}">
                            <label for="reply-writer">작성자</label>
                            <input type="text" class="form-control ml-2" id="reply-writer">
                        </div>
                        <textarea class="form-control" rows="3" placeholder="내용을 입력하세요.." id="reply-content"></textarea>
                        <button type="button" class="btn btn-dark mt-3 float-md-right" id="reply-create">등록</button>
                    </form>
                </div>
                <div class="d-flex mb-4">
                    <div class="reply-list"></div>
                </div>
            </div>
            <div class="card-footer">
                <div class="reply-paging"></div>
            </div>
        </div>
        <!--/* Reply Update Model */-->
        <div class="modal fade" id="reply-update-modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">댓글 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!-- 닉네임 입력 -->
                            <div class="mb-3">
                                <label class="form-label">작성자</label>
                                <output class="form-control form-control-sm" id="modal-reply-update-writer">
                            </div>
                            <!-- 댓글 본문 입력 -->
                            <div class="mb-3">
                                <label class="form-label">댓글 내용</label>
                                <textarea class="form-control form-control-sm" rows="3" id="modal-reply-update-content" readonly></textarea>
                            </div>
                            <input type="hidden" id="modal-reply-update-reply-id">
                            <!-- 전송 버튼 -->
                            <button type="button"
                                    class="btn btn-outline-primary btn-sm float-md-right"
                                    id="reply-update-btn">수정 완료
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--/* Footer */-->
        <div th:replace="~{/fragment/layout/footer :: common_footer}"> </div>
    </div>
</div>
<script th:inline="javascript">
    let content = [[${board.content}]];
    let boardId = [[${board.boardId}]];
    let pageNum = 1;
    let url = "";
    $(function () {
        $("div.read-content-html").html(content);
        printReplyList();
    });

    function printReplyList() {
        url = "/replies/" + boardId + "/paging/" + pageNum;
        $.get(url, function (response) {
            let replyListHtml = "";
            let replyPagingHtml = "";
            let list = response.list;
            let pageInfo = response.pageDTO;

            $(list).each(function (idx, reply) {
                replyListHtml += `
                    <hr width="935"></hr>
                    <div class="d-flex mb-5">
                        <div class="btn btn-lg"><i class="bi bi-person-circle"></i></div>
                        <div class="col-12">
                            <div class="font-weight-bold">&nbsp ${reply.writer}</div>
                            <div class="btn-sm">${reply.createTime}
                                <button type="button" class="btn btn-sm btn-circle btn-outline-primary"
                                onclick="openModal('${reply.replyId}', '${reply.writer}', '${reply.content}')"
                                >
                                <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button class="btn btn-sm btn-circle btn-outline-dark"
                                onclick="deleteReply(${reply.replyId})"><i class="bi bi-trash-fill"></i></button>
                            </div>
                            <div>
                                <pre>${reply.content}</pre>
                            </div>
                        </div>
                    </div>`;
            });
            $(".reply-list").html(replyListHtml);
            console.log(pageInfo);
            replyPagingHtml += `
                <ul class="pagination justify-content-center">`;
                if (pageInfo.prev) {
                    let prev_num = pageInfo.startNum - 1;
                    replyPagingHtml += `
                    <li class="page-item">
                        <a class="page-link" href="` + prev_num +  `">&lt;이전</a>
                    </li>`;
                }
                for (let i = pageInfo.startPage; i <= pageInfo.endPage; i++) {
                    replyPagingHtml += `
                    <li class="page-item `;
                    if (pageInfo.criteria.pageNum === i) {
                        replyPagingHtml += `active`;
                    }
                    replyPagingHtml += `">
                        <a class="page-link" href="` + i + `">` + i + `</a>
                    </li>`;
                }
                if (pageInfo.next) {
                    let next_num = pageInfo.endPage + 1;
                    replyPagingHtml += `
                        <li class="page-item">
                            <a class="page-link" href="` + next_num +  `">&gt;다음</a>
                        </li>`;
                }
                replyPagingHtml += `
                </ui>`;
            $(".reply-paging").html(replyPagingHtml);
        }, "json");
    }

    $(document).on('click', '.page-link', function (e){
        e.preventDefault();
        pageNum = $(this).attr("href");
        printReplyList();
    });

    $("button#reply-create").click( function (e) {
        e.preventDefault();
        let sendReplyData = {
            "boardId" : boardId,
            "writer" : document.querySelector("#reply-writer").value,
            "content" : document.querySelector("#reply-content").value
        };
        $.ajax({
            url: url,
            contentType: "application/json;charset=UTF-8",
            type: "POST",
            data: JSON.stringify(sendReplyData),
            success: function (response) {
                alert("댓글이 등록되었습니다.");
                printReplyList();
            },
            error: function (err) {
                console.log(sendReplyData);
                alert("댓글 작성 오류");
            }
        });
    });

    function openModal(replyId, writer, content) {
        $("#reply-update-modal").modal("toggle");
        document.getElementById("modal-reply-update-writer").value = writer;
        document.getElementById("modal-reply-update-content").value = content;
        document.getElementById("modal-reply-update-reply-id").value = replyId;
    }

    $("button#reply-update-btn").click( function (e) {
        e.preventDefault();
        let sendUpdateReplyData = {
            "boardId" : boardId,
            "replyId" : parseInt(document.querySelector("#modal-reply-update-reply-id").value),
            "writer" : document.querySelector("#modal-reply-update-writer").value,
            "content" : document.querySelector("#modal-reply-update-content").value
        };
        $.ajax({
            url: url,
            contentType: "application/json;charset=UTF-8",
            type: "PATCH",
            data: JSON.stringify(sendUpdateReplyData),
            success: function (response) {
                alert("수정이 완료되었습니다.");
                $("#reply-update-modal").modal("hide");
                printReplyList();
            },
            error: function (err) {
                console.log(sendUpdateReplyData);
                alert("댓글 수정 오류");
                $("#reply-update-modal").modal("hide");
                printReplyList();
            }
        })
    })
    function deleteReply(deleteReplyId) {
        let deleteUrl = url + "/" + deleteReplyId;
        if (!confirm("댓글을 삭제하시겠어요?")) {
            return false;
        }
        $.ajax({
            url: deleteUrl,
            contentType: "application/json;charset=UTF-8",
            type: "DELETE",
            success: function (response) {
                alert("삭제가 완료되었습니다.");
                printReplyList();
            },
            error: function (err) {
                alert("댓글 삭제 오류");
                console.log(sendDeleteReplyData);
                printReplyList();
            }
        })
    }
</script>

<script th:inline="javascript">
    let paging = [[${criteria.listLink}]];

    $("button#goUpdate").click(function (e){
        e.preventDefault();
        location.href = "/board/update" + paging + "&boardId=" + $(this).attr("onclick");
    })
    $("button#goDelete").click(function (e){
        e.preventDefault();
        location.href = "/board/delete" + "?boardId=" + $(this).attr("onclick");
    })
    $("button#goList").click(function (e){
        e.preventDefault();
        location.href = "/board/list" + paging;
    });
</script>
<th:block th:replace="~{fragment/layout/config :: common_script}"></th:block>
</body>

</html>