<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 사이드바 -->
    <ul th:fragment="common_side(status)" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- 메인홈 -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">개발 포럼</div>
        </a>
        <hr class="sidebar-divider my-0">
        <!-- 로그인 -->
        <li class="nav-item" th:classappend="${status} == 'login'? 'active'">
            <a class="nav-link" href="home" th:href="@{/home/login}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>로그인</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <!-- 글쓰기 -->
        <li class="nav-item" th:classappend="${status} == 'write' ? 'active'">
            <a class="nav-link" href="#" th:href="@{/board}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>글쓰기</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <!-- 게시판 -->
        <li class="nav-item" th:classappend="${status} == 'board' ? 'active'">
            <a class="nav-link" href="#" th:href="@{/board/list}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>게시판</span>
            </a>
        </li>
        <hr class="sidebar-divider">
    </ul>
</body>
</html>